<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0">
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>test</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value>test</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:jtds:sqlserver://localhost:1433/WebTest</param-value>
    </context-param>
    <context-param>
        <param-name>dbType</param-name>
        <param-value>MS_SQL</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
    <security-role>
        <role-name>web-admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Test</web-resource-name>
            <url-pattern>/index.html</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>web-admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.do?action=login</form-login-page>
            <form-error-page>/login.do?action=login_error</form-error-page>
        </form-login-config>
    </login-config>
</web-app>