@CHARSET "ISO-8859-1";

body {
	background-color: green;
}

.inner {
	width: 75%;
	background-color: #DBDCD9;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: block;
    text-align: center;
}